* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

:root {
    --color-1: cornflowerblue;
    --color-2: gold;
}

header {
    background-color: var(--color-1);
    padding: 10px 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-size: 18px;
    margin-bottom: 40px;
}

header h2 {
    font-size: 20px;
    border-bottom: 2px solid;
    margin: 8.5px 0;
}

header h2:hover {
    color: var(--color-2);
}

header h2::after {
    color: rgba(red, green, blue, alpha)
}

.wrapper {
    background-color: hsl(0, 0%, 100%);
    border-radius: 5px;
    border-width: 1px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px 0px;
    color: hsl(206, 17%, 28%);
    font-size: 18px;
    margin: 0 auto;
    max-width: 800px;
    padding: 30px 40px;
}

.wrapper h3 {
    font-size: 22px;
    position: relative;
    text-align: center;
}

.wrapper ul li {
    list-style: none;
}

.quiz-info {
    font-size: 18px;
}

footer {
    text-align: center;
    padding: 10px 25px;
    background-color: var(--color-1);
    bottom: 0;
}

footer a {
    text-decoration: none;
}

footer a:hover {
    color: var(--color-2);
}